.home-container {
  padding: 20px;
  background-color: #fff;

  .search-container {
    .ant-form-item {
      margin-bottom: 20px;
    }
    
    .ant-btn + .ant-btn {
      margin-left: 16px;
    }

    .ant-input:not(.ant-calendar-picker-input),
    .ant-select {
      width: 200px;
    }
  }

  .header-button-container {
    margin-bottom: 20px;

    .ant-btn + .ant-btn {
      margin-left: 16px;
    }
  }

  .table-container {
    margin-bottom: -20px;
  }

  .dialog-form-container {
    .form textarea.ant-input {
      height: 80px;
      resize: none;
    }
  }
}