.home-container {
  padding: 20px;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;

  .search-container {
    .ant-form-item {
      margin-bottom: 20px;
    }
    
    .ant-btn + .ant-btn {
      margin-left: 16px;
    }

    .ant-input:not(.ant-calendar-picker-input),
    .ant-select {
      width: 200px;
    }
  }

  .header-button-container {
    margin-bottom: 20px;

    .ant-btn + .ant-btn {
      margin-left: 16px;
    }
  }

  .table-container {
    @media screen and (max-width: 1236px) {
      height: calc(100% - 152px);
    }

    overflow: auto;

    .ant-table-wrapper {
      min-width: 1440px;
    }

    .operate-container {
      .ant-btn {
        padding: 0;
        & + .ant-btn {
          margin-left: 16px;
        }
      }
    }

    table {
      table-layout: fixed;
    }

    .table-width {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .statistics-container {
    height: 180px;
    margin-bottom: 20px;
    display: flex;
  }

  .statistics-item-container {
    width: 49%;
    height: 100%;
    & + .statistics-item-container {
      margin-left: 2%;
    }
  }
}

.dialog-form-container {
  form textarea.ant-input.dialog-textarea {
    height: 80px;
    resize: none;
  }
  
  .dialog-picker {
    width: 100%;
  }
}